

ul.vertical-navigation-list {

	li {
		padding: .5rem;
	}

	li.nav-list-heading {
		font-weight: bolder;
		font-size: 1.2rem;
	}

	li.nav-list-link {
		a {
			text-decoration: none;
		}
	}
	li.nav-list-link-active {
		a {
			text-decoration: none;
		}
		background-color: hsl(0,0,90);
	}

	li.nav-list-text {
		// @extend %nav-list-item-base;
	}
}


ul.horizontal-navigation-list {
    display: inline-block;
    // background-color: #333333;

	li {
		display: inline-block;
		vertical-align: middle;
	    // float: left;
		padding: .5rem 1rem;
	}

	li.nav-list-heading {
		font-weight: bolder;
		font-size: 1.2rem;
	}

	li.nav-list-link {
		a {
			text-decoration: none;
		}
		&:hover {
			background-color: hsl(0,0,90);
		}
	}
	li.nav-list-link-active {
		a {
			text-decoration: none;
		}
		background-color: hsl(0,0,80);
	}

	li.nav-list-text {
		// @extend %nav-list-item-base;
	}
}

.nav-list-text {
	color: #999;
}
