@import "modules/fcss/_reset.css";
@import "modules/fcss/_colors.css";
@import "modules/fcss/_text.css";
@import "modules/fcss/_spacing.css";
@import "modules/fcss/_flex.css";
@import "modules/fcss/_backgrounds.css";
@import "modules/fcss/_borders.css";


@import "modules/cmpts/_buttons.css";
@import "modules/cmpts/_tables.css";
@import "modules/cmpts/_textInput.css";




.w-0   { width:  0; }
.h-0   { height: 0; }

.h-100 { height: 100px; }
.h-50  { height: 50px; }
.w-100 { width: 100px; }


.left-0 { left: 0; }
.right-0 { right: 0; }


.width-full  { width: 100%; }
.valign-top  { vertical-align: top; }
.disp-inline-block { display: inline-block; }

.pos-abs { position: absolute; }
.pos-rel { position: relative; }

.link-unstyled { text-decoration: none; }

.image-responsive {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }
