/*
.button-flavor-light {
	background-color: hsl(0,0%,95%);
	border: 1px solid hsl(0,0%,80%);

	&:hover  { background-color: hsl(0,0%,98%); }
	&:active { background-color: hsl(0,0%,90%); }
	&:focus  { outline: 0; }
}


.button-flavor-dark {
	background-color: hsl(0,0%,20%);
	border: 1px solid hsl(0,0%,20%);

	&:hover  { background-color: hsl(0,0%,25%); }
	&:active { background-color: hsl(0,0%,10%); }
	&:focus  { outline: 0; }
}*/

/*.red {
	background-color: red;
}

.button-flavor-light {
	@extend .red;
}*/


/*@import "../../base/_defaults.scss";
@import "../../base/_mixins.scss";



// style - default/hollow/link
// usage (color) - default-light/default-dark/caution/danger/
// size  - large/default/small


button.small {
	border-radius: .2rem;
	font-size: .75rem;
	padding: .25rem .5rem;
}
button.medium {
	border-radius: .25rem;
	font-size: 1rem;
	padding: .5rem .75rem;
}
button.large {
	border-radius: .3rem;
	font-size: 1.5rem;
	padding: .5rem 1rem;
}

// FLAVORS
%button-defaults {
	// display: inline-block;
	cursor: pointer;
	margin-right: .25rem;
}

button.default-1 {
	@extend %button-defaults;

	border-width: 1px;
	border-style: solid;

	font-family: $font-b;

	@include gradient-vertical($start-color: hsl(0,0,100), $end-color: hsl(0,0,90));
	border-color: rgb(213,213,213);

	color: rgb(51,51,51);
	text-shadow: -1px 2px 0 hsl(0,0,100);

	&:hover {
		text-decoration: none;
		@include gradient-vertical($start-color: hsl(0,0,93), $end-color: hsl(0,0,87));
		border-color: hsl(0,0,80);
		text-shadow: -1px 2px 0 hsl(0,0,92);
	}

	&:active {
		background-color: #dcdcdc;
		background-image: none;
		border-color: #b5b5b5;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
	}

	&:focus {
		text-decoration: none;
		border-color: #51a7e8;
		outline: none;
		box-shadow: 0 0 5px rgba(81,167,232,0.5);
	}
}

button.default-2 {
	@extend %button-defaults;

	border-width: 1px;
	border-style: solid;

	font-family: $font-b;

	@include gradient-vertical($start-color: hsl(0,0,25), $end-color: hsl(0,0,10));
	border-color: hsl(0,0,30);

	color: hsl(0,0,100);
	// text-shadow: -1px 2px 0 hsl(0,0,100);

	&:hover {
		text-decoration: none;
		@include gradient-vertical($start-color: hsl(0,0,15), $end-color: hsl(0,0,10));
		border-color: hsl(0,0,30);
		// text-shadow: -1px 2px 0 hsl(0,0,92);
	}

	&:active {
		background-color: hsl(0,0,0);
		background-image: none;
		border-color: #b5b5b5;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
	}

	&:focus {
		text-decoration: none;
		border-color: #51a7e8;
		outline: none;
		box-shadow: 0 0 5px rgba(81,167,232,0.5);
	}
}

button.style-hollow-large {

}
button.style-link {

}

button.usage-default-1 {

}
button.usage-default-2 {

}
button.usage-caution {

}
button.usage-danger {

}

// .btn {
// 	display: block;
// 	cursor: pointer;
//
// 	font-size: 1rem;
// 	font-family: $font-a;
//
// 	padding: .5rem .9rem;
// 	margin-top: .25rem;
// 	margin-bottom: .25rem;
//
// 	// @include gradient-vertical($start-color: hsl(0,0,100), $end-color: hsl(0,0,94));
//
// 	border-width: 1px;
// 	border-style: solid;
// 	border-radius: .25rem;
	// border-color: rgb(213,213,213);

	// color: rgb(51,51,51);
	// text-shadow: -1px 2px 0 hsl(0,0,100);

	// &:hover {
	// 	text-decoration: none;
	// 	@include gradient-vertical($start-color: #eee, $end-color: #ddd);
	// 	border-color: #ccc;
	// 	text-shadow: -1px 2px 0 hsl(0,0,92);
	// }

// 	&:active {
// 		background-color: #dcdcdc;
// 		background-image: none;
// 		border-color: #b5b5b5;
// 		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
// 	}
//
// 	&:focus {
// 		text-decoration: none;
// 		border-color: #51a7e8;
// 		outline: none;
// 		box-shadow: 0 0 5px rgba(81,167,232,0.5);
// 	}
// }


.btn-group button:not(:first-child):not(:last-child) {
	border-radius: 0;
	border-left: 0;
	margin-left: 0;
	margin-right: 0;
}
.btn-group button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}
.btn-group button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
}*/
