
.table-flavor-light {
	background-color: $white;
	color: $grey-40;
}
.table-flavor-light:hover  { background-color: hsl(0,0%,97%); }


.table-flavor-dark {
	background-color: $grey-40;
	color: $grey-90;
}

.table-flavor-dark:hover  {
	background-color: $grey-30;
	color: $grey-90;
}


.table-flavor-orange {
	background-color: $orange;
	color: $white;
}
.table-flavor-orange:hover  {
	background-color: $orange-dark;
	/*color: $orange-dark;*/
}


.table-flavor-red {
	background-color: $red;
	color: $white;
}
.table-flavor-red:hover  {
	background-color: $red-dark;
	/*color: $orange-dark;*/
}


.table-flavor-blue {
	background-color: $blue;
	color: $white;
}
.table-flavor-blue:hover  {
	background-color: $blue-dark;
	/*color: $orange-dark;*/
}


.table-flavor-green {
	background-color: $green;
	color: $white;
}
.table-flavor-green:hover  {
	background-color: $green-dark;
	/*color: $orange-dark;*/
}
