.input-text       { border-color: $grey-80; }
.input-text:focus { border-color: hsl(206,77%,61%); }

.input-text-error       { border-color: $red-dark; }
.input-text-error:focus { border-color: $red-dark; }

.input-text-success       { border-color: $green-dark; }
.input-text-success:focus { border-color: $green-dark; }


.input-message-text-error {
	color: hsl(0,100%,40%);
	margin-top: .25rem;
	font-size: .9rem;
}
.input-message-text-success {
	color: hsl(117,100%,30%);
	margin-top: .25rem;
	font-size: .9rem;
}
