/**
FONTS

If using standard fonts you can comment out the import lines below
*/
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400");

$font-a: "Roboto", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
$font-b: "Montserrat", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;


// DIMENSIONS AND BREAKPOINTS
$desktop-breakpoint: 767px;  // iPad is 768px
$desktop-width: 980px;

// Colors
// $dark-grey: hsl(0,0,40);
