.round-3 { border-radius: 3px; }
.round-4 { border-radius: 4px; }
.round-6 { border-radius: 6px; }
.round-8 { border-radius: 8px; }

.border-1 { border-width: 1px; border-style: solid; }
.border-2 { border-width: 2px; border-style: solid; }
.border-3 { border-width: 3px; border-style: solid; }

.border-l-1 { border-left-width: 1px; border-left-style: solid; }
.border-l-2 { border-left-width: 2px; border-left-style: solid; }
.border-l-3 { border-left-width: 3px; border-left-style: solid; }

.border-r-1 { border-right-width: 1px; border-right-style: solid; }
.border-r-2 { border-right-width: 2px; border-right-style: solid; }
.border-r-3 { border-right-width: 3px; border-right-style: solid; }

.border-t-1 { border-top-width: 1px; border-top-style: solid; }
.border-t-2 { border-top-width: 2px; border-top-style: solid; }
.border-t-3 { border-top-width: 3px; border-top-style: solid; }

.border-b-1 { border-bottom-width: 1px; border-bottom-style: solid; }
.border-b-2 { border-bottom-width: 2px; border-bottom-style: solid; }
.border-b-3 { border-bottom-width: 3px; border-bottom-style: solid; }



.border-grey-40 { border-color: $grey-40; }
.border-grey-60 { border-color: $grey-60; }
.border-grey-80 { border-color: $grey-80; }
.border-grey-90 { border-color: $grey-90; }
.border-black   { border-color: $black;   }
.border-blue    { border-color: $blue; }


.border-t-grey-80 { border-top-color: $grey-80; }
.border-t-grey-90 { border-top-color: $grey-90; }
.border-t-black   { border-top-color: $black;   }

.border-b-grey-80 { border-bottom-color: $grey-80; }
.border-b-grey-90 { border-bottom-color: $grey-90; }
.border-b-black   { border-bottom-color: $black;   }

.border-l-grey-80 { border-left-color: $grey-80; }
.border-l-grey-90 { border-left-color: $grey-90; }
.border-l-black   { border-left-color: $black;   }

.border-r-grey-80 { border-right-color: $grey-80; }
.border-r-grey-90 { border-right-color: $grey-90; }
.border-r-black   { border-right-color: $black;   }

.border-tb-grey-80 { border-top-color: $grey-80; border-bottom-color: $grey-80; }
.border-tb-grey-90 { border-top-color: $grey-90; border-bottom-color: $grey-90; }
.border-tb-black   { border-top-color: $black;   border-bottom-color: $black;   }

.border-lr-grey-80 { border-left-color: $grey-80; border-right-color: $grey-80; }
.border-lr-grey-90 { border-left-color: $grey-90; border-right-color: $grey-90; }
.border-lr-black   { border-left-color: $black;   border-right-color: $black;   }
