$black: hsl(0,0%,0%);
$grey-10: hsl(0,0%,10%);
$grey-20: hsl(0,0%,20%);
$grey-30: hsl(0,0%,30%);
$grey-40: hsl(0,0%,40%);
$grey-50: hsl(0,0%,50%);
$grey-60: hsl(0,0%,60%);
$grey-70: hsl(0,0%,70%);
$grey-80: hsl(0,0%,80%);
$grey-90: hsl(0,0%,90%);
$grey-93: hsl(0,0%,93%);
$grey-95: hsl(0,0%,95%);
$grey-96: hsl(0,0%,96%);
$grey-97: hsl(0,0%,97%);
$grey-98: hsl(0,0%,98%);
$grey-99: hsl(0,0%,99%);
$white: hsl(0,0%,100%);


$orange:       hsl(40, 100%, 60%);
$orange-light: hsl(40,  92%, 70%);
$orange-dark:  hsl(36, 100%, 59%);

$red:       hsl(10,100%,55%);
$red-light: hsl(12,100%,63%);
$red-dark:  hsl(15,100%,46%);

$blue:       hsl(205, 87%, 49%);
$blue-light: hsl(203, 90%, 57%);
$blue-dark:  hsl(205, 100%, 42%);

$green:       hsl(102, 61%, 54%);
$green-light: hsl(102, 57%, 65%);
$green-dark:  hsl(102, 56%, 48%);
