/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,latin-ext");*/
/*@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");


$font-sans: "Rubik", sans-serif;

div, p, span, b, * {
	font-family: $font-sans;
	font-size: 14px;
	font-weight: 400;
	color: $grey-40;
} /* Blanket everything with this font (default) */
code, pre, pre span {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 13px;
}
b  { font-weight: bold; }
em { font-style: italic; }

.font-size-10 { font-size: 10px; }
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-22 { font-size: 22px; }
.font-size-24 { font-size: 24px; }
.font-size-28 { font-size: 28px; }

.font-sans { font-family: $font-sans; }

.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }

.line-height-14 { line-height: 14px; }
.line-height-16 { line-height: 16px; }
.line-height-18 { line-height: 18px; }
.line-height-20 { line-height: 20px; }
.line-height-22 { line-height: 22px; }
.line-height-24 { line-height: 24px; }

.text-left   { text-align: left;   }
.text-center { text-align: center; }
.text-right  { text-align: right;  }

.text-black   { color: $black;   }
.text-grey-10 { color: $grey-10; }
.text-grey-20 { color: $grey-20; }
.text-grey-30 { color: $grey-30; }
.text-grey-40 { color: $grey-40; }
.text-grey-50 { color: $grey-50; }
.text-grey-60 { color: $grey-60; }
.text-grey-70 { color: $grey-70; }
.text-grey-80 { color: $grey-80; }
.text-grey-90 { color: $grey-90; }
.text-grey-95 { color: $grey-95; }
.text-grey-96 { color: $grey-96; }
.text-grey-97 { color: $grey-97; }
.text-grey-98 { color: $grey-98; }
.text-grey-99 { color: $grey-99; }
.text-white   { color: $white;   }

.text-color-inherit { color: inherit; }

.text-capitalize { text-transform: capitalize; }
.text-upper      { text-transform: uppercase;  }
.text-lower      { text-transform: lowercase;  }
